In [1]:
################################################################################
# Author 1:      Bernhard Lugger
# MatNr 1:       01114792
# Author 2:      Paula Nauta
# MatNr 2:       11938311
# File:          assignment2.ipynb
# Description: ... short description of the file ...
# Comments:    ... comments for the tutors ...
#              ... can be multiline ...
################################################################################

In [2]:
# imports
import matplotlib.pyplot as plt # or from matplotlib import pyplot as plt
import matplotlib.dates as mdates # we use this to space our date-xticks
import numpy as np
import pandas as pd

import plotly.express as px
# Plotly express is especcialy useful if you want to plot dataframes (e.g. Pandas Dataframe).
from plotly.subplots import make_subplots
# import plotly.graph_objects as go

In [3]:
# -------- functions ------------

def load_oecd_data_to_df(file_path):
    """loads one csv from the given path and returns the 3 relevant columns to a dataframe."""
    oecd_data = pd.read_csv(file_path, header=0, usecols=['LOCATION', 'TIME', 'Value'])
    return oecd_data


def choosen_countries(raw_df, c1, c2, c3, c4, c5):
    """ausgewählte länder aus dem dataframe in ein neues dataframe"""

    #TODO:
    # - dataframe, spalten: 0:land, 5:jahr, 6:wert,
    # - zeilen: where choosen countries, zB.
    return cropped_df


def plot_lineplot(df, country1, country2, country3, country4, country5):
    """plots a plot..."""
    return 0
    # entweder raw_df einlesen und nur einzelne Länder ausschneiden/verwenden und ploten
    # ODER
    # vorbereitetes cropped_df ploten <-- wirkt sinnvoller für diese funktion


def plot_barplot(df, country1, country2, country3, country4, country5):
    return 0


def plot_scatterplot(df, country1, country2):
    return 0

In [4]:
# ------------------ Test -------------------------
path_to_file = 'datasets/original/DP_LIVE_15122021160749354.csv'
df1 = load_oecd_data_to_df(path_to_file)
df1

      LOCATION  TIME          Value
0          AUS  1951       2.971132
1          AUS  1952       2.550554
2          AUS  1953       2.070283
3          AUS  1954       1.942078
4          AUS  1955       2.372448
...        ...   ...            ...
15843     EU27  2016  227831.860500
15844     EU27  2017  228089.551500
15845     EU27  2018  228375.375500
15846     EU27  2019  228744.232000
15847     EU27  2020  228910.866000

[15848 rows x 3 columns]

In [ ]:
# ------------ final program (later) ----------
"""

plot_lineplot(land_a, land_b)
plot_lineplot(land_a, land_b)
plot_lineplot(land_a, land_b)

bar_lineplot(country1, country2, country3, country4, country5)
bar_lineplot(country1, country2, country3)
bar_lineplot(country1, country2, country3)

scatter
scatter
scatter

"""