In [1]:
################################################################################
# Author 1:      Bernhard Lugger
# MatNr 1:       01114792
# Author 2:      Paula Nauta
# MatNr 2:       11938311
# File:          assignment2.ipynb
# Description: ... short description of the file ...
# Comments:    ... comments for the tutors ...
#              ... can be multiline ...
################################################################################

In [3]:
# imports
import matplotlib.pyplot as plt # or from matplotlib import pyplot as plt
import matplotlib.dates as mdates # we use this to space our date-xticks
import numpy as np
import pandas as pd
import pycountry as pc

import plotly.express as px
# Plotly express is especcialy useful if you want to plot dataframes (e.g. Pandas Dataframe).
from plotly.subplots import make_subplots
import plotly.graph_objects as go
import plotly.express as px

In [13]:
# -------- functions ------------

def countries_fullname(country):   # z.b 'AUS', 'BEL'
    """ausgewählte länder aus dem dataframe in ein neues dataframe"""
    country_full = pc.countries.get(alpha_3=country)
    country_name = country_full.name
    return country_name

def load_chosen_oecd_data(file_path, *chosen_countries):
    """loads one csv from the given path and returns the 3 relevant columns of arbitrary chosen countries to a dataframe."""
    oecd_data = pd.read_csv(file_path, header=0, usecols=['LOCATION', 'TIME', 'Value'], delimiter=",")

    final_filtered_df = pd.DataFrame()
    country_full_names = []
    country_alpha3_names = []

    for country in chosen_countries:
        # full_name = countries_fullname(country)  <-- later needed
        # country_full_names.append(full_name)
        country_alpha3_names.append(country)

    for country in country_alpha3_names:
        df_mask=oecd_data['LOCATION']==country
        filtered_df = oecd_data[df_mask]
        final_filtered_df = final_filtered_df.append(filtered_df)

    return final_filtered_df

def plot_lineplot(df):
    """plots a plot..."""

    data_test = df.loc[df.LOCATION == 'AUS']
    fig = px.line(data_test, x="TIME",y="Value", title="Lineplot")
    """
    fig = px.line(data_test, x="TIME", y=["hosp_patients", "icu_patients"], title="Lineplot 2",)
    fig.update_xaxes(title_text = "Date")
    fig.update_yaxes(title_text = "# Hospital patients")
    fig.update_layout(xaxis={"rangeslider": {"visible": True}})
    """
    fig.show()


def plot_barplot(df, country1, country2, country3, country4, country5):
    return 0


def plot_scatterplot(df, country1, country2):
    return 0

In [14]:
# ------------------ Test -------------------------
path_to_file = 'datasets/original/DP_LIVE_15122021160749354.csv'

# works 4 arbitrary chosen countries! :D   Makes sense?
load_chosen_oecd_data(path_to_file, 'AUS', 'AUT', 'BEL')

# countries_fullname(country)
# plot_lineplot(df1)

    LOCATION  TIME        Value
0        AUS  1951     2.971132
1        AUS  1952     2.550554
2        AUS  1953     2.070283
3        AUS  1954     1.942078
4        AUS  1955     2.372448
..       ...   ...          ...
844      BEL  2016  5742.234000
845      BEL  2017  5766.124000
846      BEL  2018  5790.674000
847      BEL  2019  5817.880000
848      BEL  2020  5838.303000

[849 rows x 3 columns]

In [ ]:
# ------------ final program (later) ----------
"""

plot_lineplot(land_a, land_b)
plot_lineplot(land_a, land_b)
plot_lineplot(land_a, land_b)

bar_lineplot(country1, country2, country3, country4, country5)
bar_lineplot(country1, country2, country3)
bar_lineplot(country1, country2, country3)

scatter
scatter
scatter

"""