In [ ]:
################################################################################
# Author:      Bernhard Lugger
# MatNr:       01114792
# File:        assignment1.ipynb
# Description: solution for Assignment 1
# Comments:    -
################################################################################

<center>
    <h1>Assignment 1 (25 P)</h1>
    <h3>- "Basic Programming Concepts" -</h3> 
</center>

## 1. Functions (1P)

Functions:
https://docs.python.org/3/tutorial/controlflow.html#defining-functions

Numeric types (`int`, `float`):  
https://docs.python.org/3/library/stdtypes.html#built-in-types  
https://docs.python.org/3/library/stdtypes.html#numeric-types-int-float-complex

### A simple function
#### Required Function: `say_hello`

In [93]:
def say_hello():
    name = "Bernhard Lugger"
    mat_nr = "01114792"
    string_hello = "Hello, my name is {}, and my matriculation number is {}.".format(name, matriculation_number)
    print(string_hello)

In [95]:
name = "Bernhard Lugger"
matriculation_number = "01114792"

say_hello()

Hello, my name is Bernhard Lugger, and my matriculation number is 01114792.

### Calculate burned calories
#### Required Function: `met_to_burned_calories_per_minute`

In [13]:
def met_to_burned_calories_per_minute(met, weight):
    calories_per_minute = (met * 3.5 * weight) / 200
    return calories_per_minute

In [16]:
test_calories_per_minute = met_to_burned_calories_per_minute(14, 65.2)
print(test_calories_per_minute)

15.974

## 2. Conditional Statements (2P)
`if` Statement:  
https://docs.python.org/3/tutorial/controlflow.html#if-statements
### Calculate a student's Informatics 1 grade
#### Required Function: `calculate_informatics1_grade`

In [1]:
def calculate_informatics1_grade(is_ass1_submitted, is_ass2_submitted, ass1_points, ass2_points, lp_points, exam_points, bonus_points):
    if is_ass1_submitted == False:
        print("As you didn't submit Assignment 1, you were deregistered from the course and receive no grade.") 
        return None
    
    if is_ass2_submitted == False and is_ass1_submitted == True:
        print("As you didn't submit Assignment 2, your Informatics 1 grade is 5!") 
        return 5
    
    if is_ass2_submitted == True and is_ass1_submitted == True:
        max_practical_points = 75
        practical_points = ass1_points + ass2_points + lp_points
        if practical_points > max_practical_points:
            practical_points = max_practical_points
            
        reached_points = practical_points
        max_points_reachable = 100
        max_exam_points_reachable = 25
        
        if exam_points >= (max_exam_points_reachable * 0.5):
            reached_points = practical_points + exam_points
            
            if reached_points >= (max_points_reachable * 0.5):
                reached_points = reached_points + bonus_points
                if reached_points > max_points_reachable:
                    reached_points = max_points_reachable
    
   # else: print("unknwnon error - you found the nivana condition. Congratz!") 
    
    if  90.5 <= reached_points <= 100: grade = 1
    if  80.5 <= reached_points < 90.5: grade = 2
    if  65.5 <= reached_points < 80.5: grade = 3
    if  50.5 <= reached_points < 65.5: grade = 4
    if  00.0 <= reached_points < 50.5: grade = 5
    
    print(f"You have {reached_points} total points, and your Informatics 1 grade is {grade}!")
    return grade

In [9]:
calculate_informatics1_grade(True, True, 9, 15, 13, 13, 3)

You have 53 total points, and your Informatics 1 grade is 4!

4

## 3. Sequences and Sets (4P)
Sequence Types (`list`, `tuple`):  
https://docs.python.org/3/tutorial/introduction.html#lists  
https://docs.python.org/3/tutorial/datastructures.html#more-on-lists  
https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences  

Set Types (`set`):     
https://docs.python.org/3/tutorial/datastructures.html#sets  
### Replace sport
#### Required Function: `replace_sports`

In [98]:
sports = ["soccer", "baseball", "baseball", "soccer", "basketball", "baseball", "soccer"]
old_sport = "soccer"
new_sport = "football"

In [99]:

def replace_sport(sports, old_sport, new_sport):
    quantity_of_sports = len(sports)
    quantity_of_old_sport = sports.count(old_sport)
    old_sport_counter = 0
    new_sport_counter = 0
        
    if old_sport_counter < quantity_of_old_sport:
        sports.remove(old_sport)
        old_sport_counter += 1
        
    if old_sport_counter < quantity_of_old_sport:
        sports.remove(old_sport)
        old_sport_counter += 1
    
    if old_sport_counter < quantity_of_old_sport:
        sports.remove(old_sport)
        old_sport_counter += 1
        
    if old_sport_counter < quantity_of_old_sport:
        sports.remove(old_sport)
        old_sport_counter += 1
        
    if old_sport_counter < quantity_of_old_sport:
        sports.remove(old_sport)
        old_sport_counter += 1
        
    if old_sport_counter < quantity_of_old_sport:
        sports.remove(old_sport)
        old_sport_counter += 1
        
    if old_sport_counter < quantity_of_old_sport:
        sports.remove(old_sport)
        old_sport_counter += 1

    #   add new sport 
        
    if new_sport_counter < quantity_of_old_sport:
        sports.append(new_sport)
        new_sport_counter += 1
        
    if new_sport_counter < quantity_of_old_sport:
        sports.append(new_sport)
        new_sport_counter += 1
        
    if new_sport_counter < quantity_of_old_sport:
        sports.append(new_sport)
        new_sport_counter += 1
        
    if new_sport_counter < quantity_of_old_sport:
        sports.append(new_sport)
        new_sport_counter += 1

    if new_sport_counter < quantity_of_old_sport:
        sports.append(new_sport)
        new_sport_counter += 1
        
    if new_sport_counter < quantity_of_old_sport:
        sports.append(new_sport)
        new_sport_counter += 1
        
    if new_sport_counter < quantity_of_old_sport:
        sports.append(new_sport)
        new_sport_counter += 1
        
    sports.sort()
    return sports

In [100]:
# test
sports = ["soccer", "baseball", "baseball", "soccer", "basketball", "baseball", "soccer"]
old_sport = "baseball"
new_sport = "skateboarding"

replace_sport(sports, old_sport, new_sport)

['basketball',
 'skateboarding',
 'skateboarding',
 'skateboarding',
 'soccer',
 'soccer',
 'soccer']

### Athletes and doping cases 
#### Required Function: `dope_de_france`

In [101]:
winning_cyclists = {'Andy Schleck', 'Lance Armstrong', 'Cadel Evans', 'Vincenzo Nibali', 'Alberto Contador', 'Carlos Sastre', 'Bradley Wiggins', 'Floyd Landis', 'Oscar Pereiro', 'Chris Froome'}
failed_tests = {'Lance Armstrong', 'Alexander Vinokourov', 'Jan Ullrich', 'Bernhard Kohl', 'Alberto Contador', 'Denis Menchov', 'Frank Schleck', 'Alejandro Valverde', 'Levi  Vinokourov', 'Ivan Basso', 'Floyd Landis', 'Raimondas Rumsas'}

In [102]:
#Write your code in this cell: 
def dope_de_france(winning_cyclists, failed_tests):
    clean_cyclists = winning_cyclists.difference(failed_tests)
  # clean_cyclists = winning_cyclists - failed_tests     # works also
   
    doped_cyclists = winning_cyclists & failed_tests
  # doped_cyclists = winning_cyclists.intersection(failed_tests)   # works also
    
    number_of_winning_cyclists = len(winning_cyclists)
    number_of_clean_cyclists = len(clean_cyclists)
    number_of_doped_cyclists = len(doped_cyclists)
    percentage_of_doped_winning_cyclists = (number_of_doped_cyclists / number_of_winning_cyclists)*100
    
    print(f"Clean Cyclists: {clean_cyclists}")
  # print(doped_cyclists)

    return percentage_of_doped_winning_cyclists

In [103]:
#Test your code in this cell: 
dope_de_france(winning_cyclists, failed_tests)

Clean Cyclists: {'Chris Froome', 'Bradley Wiggins', 'Cadel Evans', 'Oscar Pereiro', 'Andy Schleck', 'Vincenzo Nibali', 'Carlos Sastre'}

30.0

## 4. Loops (6P)
`for` Statement:  
https://docs.python.org/3/tutorial/controlflow.html#for-statements  
https://docs.python.org/3/reference/compound_stmts.html#the-for-statement  

`while` Statement:   
https://docs.python.org/3/reference/compound_stmts.html#the-while-statement  

Some Looping Techniques:   
https://docs.python.org/3/tutorial/datastructures.html#looping-techniques

For the following Tasks you may need additional Datatypes

Text Sequence Type (`str`):  
https://docs.python.org/3/tutorial/introduction.html#strings  
https://docs.python.org/3/library/stdtypes.html#string-methods

Mapping Types (`dict`):  
https://docs.python.org/3/tutorial/datastructures.html#dictionaries 
### Spell Formula-1 Team
#### Required Function: `spell_formula_one_teams`

In [104]:
known_teams = ["McLaren", "Mercedes", "Ferrari", "Red Bull"]
formula_one_teams = ["Williams", "Haas", "McLaren", "Alfa Romeo", "Mercedes", "Alpine", "Ferrari", "Red Bull", "Aston Martin", "Alpha Tauri"]

In [137]:
#Write your code in this cell: 
def spell_formula_one_teams(known_teams, formula_one_teams):
    # I found help here: https://www.geeksforgeeks.org/python-intersection-two-lists/
    # known_teams_intersection_sort = sorted(list(set(formula_one_teams) & set(known_teams))) # alphabetisch
    not_known_teams_sort = sorted(list(set(formula_one_teams) - set(known_teams)))
    
    for team in formula_one_teams:
        team_number = formula_one_teams.index(team) +1
        if team in known_teams:
            print(f"Team {team_number} is {team} and Margaretha knows this team.")
            
        if team in not_known_teams_sort:
            print(f"Team {team_number} is called {team}, which is spelled:")
            for letter in team:
                print(letter)               
      #  print("\n")

In [138]:
#Test your code in this cell: 
spell_formula_one_teams(known_teams, formula_one_teams)

Team 1 is called Williams, which is spelled:
W
i
l
l
i
a
m
s
Team 2 is called Haas, which is spelled:
H
a
a
s
Team 3 is McLaren and Margaretha knows this team.
Team 4 is called Alfa Romeo, which is spelled:
A
l
f
a

R
o
m
e
o
Team 5 is Mercedes and Margaretha knows this team.
Team 6 is called Alpine, which is spelled:
A
l
p
i
n
e
Team 7 is Ferrari and Margaretha knows this team.
Team 8 is Red Bull and Margaretha knows this team.
Team 9 is called Aston Martin, which is spelled:
A
s
t
o
n

M
a
r
t
i
n
Team 10 is called Alpha Tauri, which is spelled:
A
l
p
h
a

T
a
u
r
i

### Determine exercises to burn a certain amount of calories
#### Required Function: `do_sport_and_burn_calories`

In [63]:
sports_info = {"bicycling": {"met": 14,
                             "max_min_of_execution": 60},
                "crunches": {"met": 5,
                             "max_min_of_execution": 15},
                "swimming": {"met": 9.5,
                             "max_min_of_execution": 30},
                "push ups": {"met": 8,
                             "max_min_of_execution": 15},
                "sitting": {"met": 1,
                            "max_min_of_execution": -1}
}

In [139]:
#Write your code in this cell: 

def met_to_burned_calories_per_minute(met, weight):
    calories_per_minute = (met * 3.5 * weight) / 200
    return calories_per_minute

def do_sport_and_burn_calories(calories_to_burn, sports_info, weight):
    print_string = "To burn " + str(calories_to_burn) + " calories with your given sports you have to do "    
    
    for sport in sports_info.keys():
        key = sports_info[sport]
        met_value = key["met"]
        max_min_value = key["max_min_of_execution"]
        
        calories_burned_pm = met_to_burned_calories_per_minute(met_value, weight)
        mins_of_sport = calories_to_burn / calories_burned_pm

        if max_min_value == -1:
            int_mins_of_sport = int(mins_of_sport)
            print_string += str(int_mins_of_sport) + " mins of " + str(sport) + ", "
            mins_of_sport = mins_of_sport - int_mins_of_sport
            calories_burned = calories_burned_pm * int_mins_of_sport
            calories_to_burn = calories_to_burn - calories_burned
            continue

        if mins_of_sport > max_min_value and max_min_value > 0:
            minutes_left = mins_of_sport - max_min_value
            mins_of_sport = max_min_value
            print_string += str(int(round(mins_of_sport, 0))) + " mins of " + str(sport) + ", "
            calories_burned = calories_burned_pm * mins_of_sport
            calories_to_burn = calories_to_burn - calories_burned
            continue

        if 1 <= mins_of_sport < max_min_value and max_min_value > 0:
            mins_of_sport = calories_to_burn / calories_burned_pm
            int_mins_of_sport = int(mins_of_sport)
            calories_burned = calories_burned_pm * int_mins_of_sport
            calories_to_burn = calories_to_burn - calories_burned
            print_string += str(int_mins_of_sport) + " mins of " + str(sport) + ", "
            continue

    print_string = print_string[:-2]
    print_string += "! At the end you still need to burn " + str(round(calories_to_burn, 2)) + " calories."
    print(print_string)

In [140]:
#Test your code in this cell: 
calories_to_burn = 1560
weight = 65
#met = 14
do_sport_and_burn_calories(calories_to_burn, sports_info, weight)

To burn 1560 calories with your given sports you have to do 60 mins of bicycling, 15 mins of crunches, 30 mins of swimming, 15 mins of push ups, 51 mins of sitting! At the end you still need to burn 0.49 calories.

### Calculate athlete statistics
#### Required Function: `calculate_sport_statistics`

In [73]:
sports = ['Tug-Of-War', 'Motorboating', 'Luge', 'Taekwondo']
names_and_sports = {'Isaac Thomas Thornycroft': 'Motorboating', 'Josef Wittmann': 'Tug-Of-War', 
                    'Albrekt Persson Almqvist': 'Tug-Of-War', 'Petra Vachnkov': 'Trampolining',
                     'Anders Hjalmar Wollgarth': 'Tug-Of-War', 'Sophia Hope Gorham': 'Motorboating',
                    'Adriano Arnoldo': 'Tug-Of-War', 'Leonie Adam': 'Trampolining',
                     'Savannah Vinsant': 'Trampolining', 'Talaat Abada': 'Taekwondo',
                    'Viktoriya Aleksandrovna Voronina': 'Trampolining', 'Vera Zozua': 'Luge', 
                    'Agnes Erika Aanonsen': 'Luge', 'Aleksandr Yuryevich Zubkov': 'Luge',
                     'Patimat Abakarova': 'Taekwondo', 'Thomas Evelyn Ellis': 'Motorboating'}

In [74]:
#Write your code in this cell: 
def calculate_sport_statistics (sports, names_and_sports):
    sport_statistics = {}
    sport_list = []

    for sport in names_and_sports.values():
        sport_list.append(sport)

    for single_sport in sports:
        sport_statistics[single_sport] = sport_list.count(single_sport)        

    return sport_statistics

In [75]:
#Test your code in this cell: 
calculate_sport_statistics (sports, names_and_sports)

{'Tug-Of-War': 4, 'Motorboating': 3, 'Luge': 3, 'Taekwondo': 2}

### Determine competition-ranking
#### Required Function: `athletes_ranking`

In [75]:
athletes_and_times = {
    "Auboeck Felix":15.03,
    "Jervis Daniel":14.55,
    "Romanchuk Mykhailo":14.41,
    "Wellbrock Florian":14.42,
    "Frolov Serhii":15.04,
    "Finke Robert":14.39,
    "Martynychev Kirill":14.56,
    "Paltrinieri Gregorio":14.45
}

In [82]:
#Write your code in this cell: 
def athletes_ranking(athletes_and_times):
    # help from here: https://stackoverflow.com/questions/16772071/sort-dict-by-value-python
    new_list = sorted(athletes_and_times.items(), key=lambda x:x[1])
    # key = lambda --> nach index aufsteigend sortiert
    # x:x[1] --> sortiert wird die zweite spalte x[1]
    
    # further help from here: https://www.askpython.com/python/list/python-list-of-tuples
    return new_list

In [83]:
#Test your code in this cell: 
athletes_ranking(athletes_and_times)

[('Finke Robert', 14.39),
 ('Romanchuk Mykhailo', 14.41),
 ('Wellbrock Florian', 14.42),
 ('Paltrinieri Gregorio', 14.45),
 ('Jervis Daniel', 14.55),
 ('Martynychev Kirill', 14.56),
 ('Auboeck Felix', 15.03),
 ('Frolov Serhii', 15.04)]

## 5. Strings (2P)
Text Sequence Type (`str`):  
https://docs.python.org/3/tutorial/introduction.html#strings  
https://docs.python.org/3/library/stdtypes.html#string-methods
### Swimming Bronze Badge
#### Required Function: `swimming_bronze_badge`

In [3]:
participants = "caroline_illgoutz(15:04), jurin_Smurli(12:45)"

In [15]:
#Write your code in this cell: 
def swimming_bronze_badge(participants):
    swimmers = {}
    splited_strings = participants.split(', ')

    for swimmer in splited_strings:
        split_person_list = swimmer.split('(')
        split_person = split_person_list[0]
        
        split_name_list = split_person.split('_')
        split_firstname = split_name_list[0].capitalize()
        upper_surname = split_name_list[1].upper()
        name = split_firstname + " " + upper_surname
        
        split_time = swimmer[-6:-1]
        swimmer_minutes = int(swimmer[-6:-4]) 
        swimmer_seconds = int(swimmer[-3:-1])
        swimmer_time = {"minutes": swimmer_minutes, "seconds": swimmer_seconds}
        swimmers[name] = swimmer_time

    for swimmer in swimmers.items():
        name = swimmer[0]
        minutes = swimmer[1]['minutes']
        seconds = swimmer[1]['seconds']
        
        if minutes < 15:
            winner_string = "CONGRATULATIONS to\n" + name + "\nfor earning the junior's swimming badge in bronze with an unbelievable time of\n"
            winner_string = winner_string + str(minutes) + " minutes and " + str(seconds) + " seconds in the 200 metres swim!\n"
            print(winner_string)
            
        if minutes >= 15:
            loser_string = "Thank you " + name + "\nfor participating the 200 metres swim with a time of\n"
            loser_string = loser_string + str(minutes) + " minutes and " + str(seconds) + " seconds! Good luck next time!\n"
            print(loser_string)

In [4]:
#Test your code in this cell: 
swimming_bronze_badge(participants)

Thank you Caroline ILLGOUTZ
for participating the 200 metres swim with a time of
15 minutes and 4 seconds! Good luck next time!

CONGRATULATIONS to
Jurin SMURLI
for earning the junior's swimming badge in bronze with an unbelievable time of
12 minutes and 45 seconds in the 200 metres swim!

## 6. Reading and Writing Files (5P)
Reading and writing Files:    
https://docs.python.org/3/tutorial/inputoutput.html#reading-and-writing-files  
Pandas documentati  on:  
https://pandas.pydata.org/docs/reference/index.html  
### Pandas Data-Analysis: 120 years of Olympic Games
#### Required Function: `load_olympic_data`

In [78]:
#Write your code in this cell: 
import numpy as np
import pandas as pd

def load_olympic_data(file_path):
    #file_path_adv = r'athlete_events.csv'  # r before path to avoid '\' in path
    olympic_data = pd.read_csv(file_path, index_col=False) # with ID as index
    return olympic_data

In [79]:
#Test your code in this cell: 
file_path = 'athlete_events.csv'
olympic_data = load_olympic_data(file_path)
#print(olympic_data)
olympic_data

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

#### Required Function: `gender_distribution`

In [16]:
#Write your code in this cell: 
def gender_distribution(olympic_data):
    # from here: https://www.delftstack.com/de/howto/python-pandas/how-to-get-the-row-count-of-a-pandas-dataframe/
    total_rows = len(olympic_data.index)
    
    # found here: https://www.geeksforgeeks.org/python-pandas-series-value_counts/
    count_female = olympic_data.value_counts('Sex')['F']
    count_male = olympic_data.value_counts('Sex')['M']
    sex_sum = count_female + count_male
    perc_female = (count_female * 100) / sex_sum
    perc_male = (count_male * 100) / sex_sum

    return perc_male, perc_female

In [17]:
#Test your code in this cell: 
#olympic_data = 'athlete_events.csv'
gender_distribution(olympic_data)

(72.51287271868868, 27.48712728131132)

#### Required Function: `compare_countries_by_number_of_gold_medals`

In [82]:
#Write your code in this cell: 
def compare_countries_by_number_of_gold_medals(olympic_data, file_path, first_country, second_country):
    # help from here: https://www.delftstack.com/de/howto/python-pandas/how-to-filter-dataframe-rows-based-on-column-values-in-pandas/
    olympic_data_mask_1 = olympic_data['Team']==first_country
    olympic_data_1 = olympic_data[olympic_data_mask_1]
    country_1 = olympic_data_1.value_counts('Medal')['Gold']
    olympic_data_mask_gold_1 = olympic_data_1['Medal'] == 'Gold'
    country_1_df = olympic_data_1[olympic_data_mask_gold_1]

    olympic_data_mask_2 = olympic_data['Team']==second_country
    olympic_data_2 = olympic_data[olympic_data_mask_2]
    country_2 = olympic_data_2.value_counts('Medal')['Gold']
    olympic_data_mask_gold_2 = olympic_data_2['Medal'] == 'Gold'
    country_2_df = olympic_data_2[olympic_data_mask_gold_2]

    if country_2 > country_1:
        difference_of_gold_medals = country_2 - country_1
        country_with_more_gold_medals = second_country
        country_with_less_gold_medals = first_country
        print(f"The Team of {country_with_more_gold_medals} won {difference_of_gold_medals} more gold medals than the Team of {country_with_less_gold_medals}.")

    if country_1 > country_2:
        difference_of_gold_medals = country_1 - country_2
        country_with_more_gold_medals = first_country
        country_with_less_gold_medals = second_country
        print(f"The Team of {country_with_more_gold_medals} won {difference_of_gold_medals} more gold medals than the Team of {country_with_less_gold_medals}.")

    if country_2 == country_1:
        print(f"The Team of {first_country} and {second_country} won the same amount of gold medals.")

    first_country_winners_df = country_1_df[['Name', 'Age', 'Sex', 'Team', 'Sport', 'Year']]
    second_country_winners_df = country_2_df[['Name', 'Age', 'Sex', 'Team', 'Sport', 'Year']]
    first_country_winners_df.to_csv(file_path + 'first_country_winners.csv', index=False)
    second_country_winners_df.to_csv(file_path + 'second_country_winners.csv', index=False)

In [85]:
#Test your code in this cell: 
first_country = "Sweden"
second_country = "Finland"
#directory = 'results' + '/' 
file_path = ""#directory
compare_countries_by_number_of_gold_medals(olympic_data, file_path, first_country, second_country)

The Team of Sweden won 253 more gold medals than the Team of Finland.

#### Required Function: `age_of_youngest_and_oldest_goldmedalists`

In [88]:
#Write your code in this cell: 
def age_of_youngest_and_oldest_goldmedalists(olympic_data):
    olympic_data_mask_1 = olympic_data['Medal'] == 'Gold'
    olympic_data_gold = olympic_data[olympic_data_mask_1]
    
    smallest_row = olympic_data_gold.nsmallest(1, 'Age')
    smallest_age = smallest_row['Age']
    samllest_row_numpy = np.int64(smallest_age)
    samllest = samllest_row_numpy[0]

    largest_row = olympic_data_gold.nlargest(1, 'Age')
    largest_age = largest_row['Age']
    largest_row_numpy = np.int64(largest_age)
    largest = largest_row_numpy[0]

    return samllest, largest

In [89]:
#Test your code in this cell: 
age_of_youngest_and_oldest_goldmedalists(olympic_data)

(13, 64)

#### Required Function: `disciplines_youngest_and_oldest_gold_medalists`

In [90]:
#Write your code in this cell: 
def disciplines_youngest_and_oldest_gold_medalists(olympic_data):
    olympic_data_mask_1 = olympic_data['Medal'] == 'Gold'
    olympic_data_gold = olympic_data[olympic_data_mask_1]
    
    smallest_row = olympic_data_gold.nsmallest(1, 'Age')
    smallest_age = smallest_row['Age']
    samllest_row_numpy = np.int64(smallest_age)
    age_youngest_gold_medalists = samllest_row_numpy[0]
    olympic_data_mask_youngest = olympic_data_gold['Age'] == age_youngest_gold_medalists
    olympic_data_youngest = olympic_data_gold[olympic_data_mask_youngest]
    sports_youngest = olympic_data_youngest['Sport']
    unique_sports_youngest = sports_youngest.unique()
    youngest_sports_string = ', '.join(unique_sports_youngest)

    largest_row = olympic_data_gold.nlargest(1, 'Age')
    largest_age = largest_row['Age']
    largest_row_numpy = np.int64(largest_age)
    age_oldes_gold_medalists = largest_row_numpy[0]
    olympic_data_mask_oldest = olympic_data_gold['Age'] == age_oldes_gold_medalists
    olympic_data_oldest = olympic_data_gold[olympic_data_mask_oldest]
    sports_oldest = olympic_data_oldest['Sport']
    unique_sports_oldest = sports_oldest.unique()
    oldest_sports_string = ', '.join(unique_sports_oldest) # from here https://stackoverflow.com/questions/12453580/how-to-concatenate-items-in-a-list-to-a-single-string  
    #print(type(unique_sports_yougest))
    #print(youngest_sports_string)
    print(f"Sports of youngest winning athletes with age {age_youngest_gold_medalists}: {youngest_sports_string}")
    print(f"Sports of oldest winning athletes with age {age_oldes_gold_medalists}: {oldest_sports_string}")

In [91]:
#Test your code in this cell: 
disciplines_youngest_and_oldest_gold_medalists(olympic_data)

Sports of youngest winning athletes with age 13: Rowing, Swimming, Diving, Short Track Speed Skating
Sports of oldest winning athletes with age 64: Roque, Shooting