In [1]:
# imports
import matplotlib.pyplot as plt # or from matplotlib import pyplot as plt
import matplotlib.dates as mdates # we use this to space our date-xticks
import numpy as np
import pandas as pd
import plotly.express as px
import pycountry as pc

import plotly.express as px
# Plotly express is especcialy useful if you want to plot dataframes (e.g. Pandas Dataframe).
from plotly.subplots import make_subplots
# import plotly.graph_objects as go

In [2]:
def load_chosen_oecd_data(file_path, *chosen_countries):
    """loads one csv from the given path and returns the 3 relevant columns of the chosen countries to a dataframe."""
    oecd_data = pd.read_csv(file_path, header=0, usecols=['LOCATION', 'TIME', 'Value'], delimiter=",")

    final_filtered_df = pd.DataFrame()
    country_full_names = []
    country_alpha3_names = []

    for country in chosen_countries:
        print(country)
        # full_name = countries_fullname(country)
        # country_full_names.append(full_name)
        country_alpha3_names.append(country)
    print(country_alpha3_names)
    for country in country_alpha3_names:
        df_mask=oecd_data['LOCATION']==country
        filtered_df = oecd_data[df_mask]
        final_filtered_df = final_filtered_df.append(filtered_df)

    print(final_filtered_df)

    return final_filtered_df

In [11]:
path_to_file = 'datasets/original/DP_LIVE_15122021160749354.csv'
# df1 = load_oecd_data_to_df(path_to_file)
# df1

#countries1 = "AUS", "BEL"

load_chosen_oecd_data(path_to_file, 'AUS', 'BEL')

AUS
BEL
['AUS', 'BEL']
    LOCATION  TIME        Value
0        AUS  1951     2.971132
1        AUS  1952     2.550554
2        AUS  1953     2.070283
3        AUS  1954     1.942078
4        AUS  1955     2.372448
..       ...   ...          ...
844      BEL  2016  5742.234000
845      BEL  2017  5766.124000
846      BEL  2018  5790.674000
847      BEL  2019  5817.880000
848      BEL  2020  5838.303000

[566 rows x 3 columns]

    LOCATION  TIME        Value
0        AUS  1951     2.971132
1        AUS  1952     2.550554
2        AUS  1953     2.070283
3        AUS  1954     1.942078
4        AUS  1955     2.372448
..       ...   ...          ...
844      BEL  2016  5742.234000
845      BEL  2017  5766.124000
846      BEL  2018  5790.674000
847      BEL  2019  5817.880000
848      BEL  2020  5838.303000

[566 rows x 3 columns]